
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello MVC!!!</h1>
        <a href="/basic/about">Go to about page!</a>
    </div>
</body>
</html>

    //create a simple MVC application with the following pages:

    // /Home/PageOne - this page should have a link to /home/pagetwo
    // /Home/PageTwo - this page should have a link to /home/pageone

    // /Other/First - this page should have a link to Google
