
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageTwo</title>
</head>
<body>
    <div> 
        <h1>Page Two</h1>
        <a href="/home/pageone">Go to page 1</a>
    </div>
</body>
</html>
