
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageOne</title>
</head>
<body>
    <div>
        <h1>Page one!</h1>
        <a href="/home/pagetwo">Go to page 2</a>
    </div>
</body>
</html>
